/Boggle/.settings/
/Deque/.settings/
/KdTrees/.settings/
/Percolation/.settings/
/Point/.settings/
/Puzzle/.settings/
/SeamCarver/.settings/
/WordNet/.settings/
/BaseballElimination/.settings/

/Boggle/bin/
/Deque/bin/
/KdTrees/bin/
/Percolation/bin/
/Point/bin/
/Puzzle/bin/
/SeamCarver/bin/
/WordNet/bin/
/BaseballElimination/bin/
*.classpath
*.project